
# Anywhere
node_modules/

# Specific
/firestore-debug.log
/firebase-debug.log
/.firebase_test_data/
/.firebase/
/functions/lib/

/app/dist/
/app/.firebase/
/app/.env.*.local

# Ignore all in dev except for examples
/app/src/public/dev/*
!/app/src/public/dev/example-cause
!/app/src/public/dev/example-people
