
:root
    --gutter: 48px
    @media (max-width: 860px)
        --gutter: 24px

html
    background-color: #222
    color: white
    // Enable momentum scroll for iOS
    -webkit-overflow-scrolling: touch
    font-family: Roboto, sans-serif

p
    margin: 1em 0

ul, ol
    margin-left: 40px
    padding-inline-start: 0

ol > li > ol
    list-style-type: lower-alpha


a:not(.v-theme--custom)  // Hack to exclude Vuetify components
    color: rgb(var(--v-theme-secondary-darken-1))
    text-decoration: none

    &:hover
        text-decoration: underline


hr
    margin: 24px 0
    border-style: none
    border-top: 1px solid #fff3


iframe
    border-style: none


// VUETIFY OVERRIDES

.v-application
    color: inherit !important
    background-color: inherit !important

.v-checkbox
    --v-input-control-height: 24px !important

.v-btn
    text-transform: none !important


// UTILS

.cs-negative, .cs-positive, .cs-neutral
    border: 1px solid #999
    border-radius: 12px
    padding: 12px
    margin: 24px
    color: hsl(0, 0%, 0%, 70%)
    @media (max-width: 860px)
        margin: 24px 0

    > div
        position: absolute
        margin-top: -24px
        background-color: var(--typo-bg)
        padding: 0 6px
        font-size: 14px
        font-weight: bold

    p:first-of-type
        margin-top: 0

    p:last-of-type
        margin-bottom: 0

.cs-negative
    border-color: hsl(0, 40%, 40%)
    color: hsl(0, 40%, 25%)
    > div
        color: hsl(0, 40%, 40%)

.cs-positive
    border-color: hsl(120, 40%, 40%)
    color: hsl(120, 40%, 25%)
    > div
        color: hsl(120, 40%, 40%)

.typo
    --typo-bg: #ddd
    background-color: var(--typo-bg)
    color: black

    p
        font-size: 20px
        font-family: Crimson Pro

    h1, h2, h3, h4
        margin: 2em 0 0.5em 0
    h1
        text-align: center
        font-size: 40px
        font-weight: 200
    h2
        font-weight: 500
        font-size: 28px
    h3
        font-size: 22px
        font-weight: 200

    blockquote
        margin-left: 24px
        border-left: 1px solid #999
        padding-left: 12px
